 /*
Color palette:: 
Red = #CB5E56
Brown = #C6A85F
Blue = #687DA2
Light = #E2E299
Greyish = #999B9D
*/

 /*
Fonts::
Asap = for BIG BIG text
Ubuntu = for BIG text
Palanquin = for text
*/

 @font-face {
     font-family: Asap;
     src: url('../fonts/Asap-Regular.ttf')
 }

 @font-face {
     font-family: Palanquin;
     src: url('../fonts/Palanquin-Regular.ttf')
 }

 @font-face {
     font-family: Ubuntu;
     src: url('../fonts/Ubuntu-Regular.ttf')
 }

 *::-webkit-scrollbar {
     width: 12px;
 }

 *::-webkit-scrollbar-track {
     background: #C6A85F;
 }

 *::-webkit-scrollbar-thumb {
     background-color: #C6A85F;
     border-radius: 1px;
     border: 2px solid #181A1B;
 }

 html {
     height: 100%;
     background-color: #E2E299;
 }

 img {
     width: 100%;
     max-height: 100%;
 }

 span {
     font-family: Ubuntu;
 }

 header {
     grid-area: header;
     display: grid;
     background: #C6A85F;
     grid-template-rows: 70% auto;
     grid-template-columns: auto auto auto 15%;
 }

 div#logo {
     background-color: #181A1B;
     grid-column: 1 / 5;
 }

 div#logo img {
     object-fit: none;
 }

 header nav {
     grid-row: 2;
     grid-column-start: 1;
     grid-column-end: 4;
     background-color: #C6A85F;
     list-style: none;
     display: grid;
     grid-template-columns: auto auto auto auto auto;
     grid-template-rows: auto;
     justify-items: center;
     align-items: center;
     padding: 0;
     margin: auto;
     height: 100%;
     width: 100%;
 }

 .navitem {
     background-color: black;
     margin-right: 30px;
     width: 150px;
     line-height: 60px;
     text-align: center;
 }

 .navitem a {
     text-decoration: none;
     color: white;
     display: block;
     font-family: Asap;
     font-weight: bolder;
     transition: 0.2s;
 }

 header nav li a:hover {
     text-decoration: none;
     color: white;
     display: block;
     background-color: #CB5E56;
 }

 header nav li#signin {
     grid-column: 5;
 }

 header nav h1 {
     grid-column: 3;
     margin: auto;
     font-family: Palanquin;
 }

 main {
     grid-area: main;
     background-color: #E2E299;
     display: grid;
     grid-template-rows: 1fr 1fr;
     animation: fadein 0.5s;
     overflow: auto;
 }

 @keyframes fadein {
     from {
         opacity: 0;
     }

     to {
         opacity: 1;
     }
 }

 button.button-main {
     border: 1px solid #C6A85F;
     background-color: black;
     color: white;
     font-family: Ubuntu;
     font-size: 4em;
     padding: 1%;
     margin: auto;
     transition: 0.5s;
     display: none
 }

 button.button-main:hover {
     height: 55%;
     background-color: #CB5E56;
 }

 button.button-main h2 {
     margin: auto;
 }

 aside {
     grid-area: sidebar;
     background-color: #687DA2;
     display: grid;
     grid-template-rows: auto 5% 5%;
     box-shadow: inset 3px 0 15px 0px rgb(0 0 0 / 60%);
 }

 aside button {
     grid-row: 3;
 }

 footer {
     grid-area: footer;
     background-color: #caab60;
     text-align: center;
     text-decoration: none;
     display: grid;
 }

 footer a {
     text-decoration: none;
     font-family: Palanquin;
     font-size: small;
     color: black;
 }

 p {
     font-family: Palanquin;
     margin: 0;
 }

 body {
     display: grid;
     margin: 0;
     width: 100%;
     height: 100%;
     grid-template-rows: 25% minmax(75%, auto) min-content;
     grid-template-columns: auto auto auto 15%;
     grid-template-areas: "header header header header""main main main sidebar""footer footer footer footer";
 }

 div#submit input {
     background-color: black;
     color: white;
     border: none;
     font-family: Asap;
     font-weight: bolder;
     transition: 0.2s;
     height: 100%;
 }

 div#submit input:hover {
     background-color: #CB5E56;
 }

 div#submit input:focus {
     outline: none;
 }

 .show-beverages {
     display: flex !important;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
 }

 .beverage-container {
     display: flex;
     justify-content: center;
     margin: 20px;
     width: 200px;
     height: 100px;
     box-shadow: 0px 3px 5px #d6d0d0;
 }

 .beverage-name {
     margin: auto;
     width: 25%;
     height: 50%;
     position: center;
     text-align: center;
     font-size: 100%;
     font-style: italic;
     margin-right: 10%;
 }

 .beverage-type {
     margin: auto;
     width: 25%;
     height: 50%;
     text-align: center;
     font-style: italic;
     font-size: 100%;
 }

 .beverage-buy-button {
     margin: 12;
     width: 10%;
     text-align: italic;
 }

 #all-beverages {
     display: none;
     grid-auto-rows: 200px;
     grid-template-columns: 1fr 1fr 1fr;
     margin: 1%;
     gap: 10px;
 }

 .beverage {
     height: 100%;
     display: flex;
     outline: 1px solid black;
     transition: all 0.3s ease-in-out;
 }

 .beverage:hover {
     box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.4);
 }

 .beverage-image-wrapper {
     display: flex;
 }

 .beverage-image {
     object-fit: none;
 }

 .beverage-info {
     flex: 1 1 80%;
     margin: 0.5%;
     display: grid;
     grid-template-rows: 40% auto 10%;
 }

 .beverage-header {
     display: flex;
     flex-direction: column;
 }

 .beverage-header h2 {
     font-family: Ubuntu;
     flex-grow: 1;
     margin: 0;
 }

 .beverage-header h4 {
     font-family: Palanquin;
     flex-grow: 1;
     margin: 0;
 }

 .beverage-header hr {
     width: 80%;
     margin-left: 0;
     border: 0;
     border-bottom: 1px dashed #687DA2;
     background: #cb5e56;
 }

 .beverage-main-content {
     font-size: small;
 }

 .beverage-footer {
     display: flex;
 }

 .beverage-country-icon {
     flex: 1 1 10%;
     display: flex;
     justify-content: center;
 }

 .beverage-country-icon img {
     object-fit: cover;
 }

 .beverage-country-name {
     font-family: Asap;
     flex: 1 1 90%;
     margin-left: 1%;
 }

 .beverage-to-list {
     display: flex;
     height: 100%;
     justify-content: center;
     align-items: center;
     background: transparent;
     cursor: pointer;
 }

 .beverage-to-list:hover {
     height: unset;
     background-color: #bda15b
 }

 .beverage-to-list:focus {
     outline: none;
 }

 .beverage-to-list img {
     object-fit: contain;
 }

 .beverage-price {
     margin-right: 3%;
 }

 .buy-text {
     font-style: italic;
     text-align: left;
     margin: auto;
 }

 .menu-button-wrapper {
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
 }

 .btn {
     background-color: black;
     color: white;
     border: none;
     font-family: Asap;
     font-weight: bolder;
     transition: 0.2s;
 }

 .btn:hover {
     background-color: #CB5E56;
 }

 .btn:focus {
     outline: none;
 }

 .btn-nav {
     width: 100%;
     margin: 5px;
 }

 div#focus-window {
     position: fixed;
     z-index: 5;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     display: none;
     justify-content: center;
 }

 div#focus-window form {
     margin: auto;
     display: none;
     /* display: flex; */
     flex-direction: column;
     height: 35%;
     width: 25%;
     justify-content: center;
     gap: 5px;
     font-family: Palanquin;
     border: 3px solid black;
     padding: 10px;
     background: #E2E299;
     z-index: 10;
 }

 div#focus-window form>* {
     display: flex;
     flex-direction: column;
 }

 div#focus-window form input[type=text],
 input[type=password] {
     padding: 12px 20px;
     border: 1px solid #ccc;
     box-sizing: border-box;
 }

 div#focus-window form>div#submit {
     width: 100%;
     margin-top: auto;
     height: 20%
 }

 div#tint {
     opacity: 0;
     width: 100%;
     height: 100%;
     position: fixed;
     background: black;
 }

 div#table-window {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr;
     align-items: center;
     justify-items: center;
     grid-row-start: 1;
     grid-row-end: 3;
     background-image: url("../images/topography.svg")
 }

 .table {
     border: 1px solid black;
     padding: 1%;
     box-shadow: inset 0 0 20px 7px rgb(0 0 0 / 60%);
     border-radius: 5px;
     transition: padding 0.2s;
     background: #C6A85F;
 }

 .table img {
     object-fit: contain;
     width: fit-content;
 }

 .table-button {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     outline: none;
     cursor: pointer;
     overflow: hidden;
     background: transparent;
     border-radius: 50%;
     font-family: Ubuntu;
     font-weight: bold;
     transition: border-radius 0.2s;
 }

 .table-available:hover .table-button {
     border-radius: 0;
 }

 .table:hover {
     padding: 2%;
 }

 #vip-customer {
     display: none;
     width: 50%;
     align-self: auto;
     gap: 1em;
     justify-self: center;
     grid-template-rows: 1fr 5fr;
     border: 1px dotted #C6A85F;
 }

 #vip-settings {
     width: 50%;
     justify-self: center;
 }

 #vip-settings * {
     width: 100%;
 }

 span#account-balance {
     text-align: center;
 }

 #login-vip {
     display: none;
 }

 #login-guest {
     display: none;
 }

 .toggle {
     background-color: #CB5E56;
     transition: background 0.2s;
 }

 .toggle:hover {
     cursor: pointer;
 }

 #combo-lock {
     margin: auto;
     display: none;
     flex-direction: column;
     gap: 5px;
     font-family: Palanquin;
     border: 3px dotted black;
     padding: 3em;
     background: #a9a9a994;
     z-index: 10;
 }

 #indicator {
     border: 2px solid #070707;
     border-radius: 50%;
     height: 32px;
     margin: 0 auto 24px;
     overflow: hidden;
     position: relative;
     width: 32px;
 }

 #indicator.locked img.unlocked {
     transform: translate(-50%, 50%);
 }

 #indicator.unlocked img.locked {
     transform: translate(-50%, -100%);
 }

 #indicator.unlocked img.unlocked {
     transform: translate(-50%, -50%);
 }

 #indicator img {
     padding: 16px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     transition: transform 0.25s ease;
     width: 16px;
 }

 #indicator img.locked {
     background: #f56666;
 }

 #indicator img.unlocked {
     background: #50ef87;
 }

 #combination {
     border: 2px solid #070707;
     border-radius: 4px;
     display: flex;
     padding: 0 4px;
 }

 .wheel {
     font-size: 24px;
     padding: 0 4px;
     text-align: center;
 }

 .increment,
 .decrement {
     background: #1d242f;
     border: 2px solid #070707;
     border-radius: 50%;
     cursor: pointer;
     height: 24px;
     position: relative;
     transition: border-color 0.1s ease;
     width: 24px;
 }

 .increment:active,
 .decrement:active {
     border-color: #fff;
 }

 .increment.click,
 .decrement.click {
     border-color: #fff;
     transition: border-color 0s ease;
 }

 .increment img,
 .decrement img {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 24px;
 }

 .increment {
     margin-top: -14px;
 }

 .decrement {
     margin-bottom: -14px;
 }

 .digit {
     -moz-appearance: textfield;
     background: #1d242f;
     border: 2px solid #070707;
     border-radius: 24px;
     caret-color: #1d242f;
     color: #fff;
     cursor: pointer;
     margin: 8px 0;
     outline: none;
     padding: 8px 0;
     text-align: center;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     transition: border-color 0.1s ease;
     width: 24px;
 }

 .digit:focus {
     border-color: #fff;
 }

 .digit::-webkit-inner-spin-button,
 .digit::-webkit-outer-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }

 .digit::-moz-selection {
     background: transparent;
 }

 .digit::selection {
     background: transparent;
 }

.login-box {
    margin-top: 5%;
    padding: 40px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
    border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}


 @media screen and (max-width: 768px) {
     body {
         grid-template-rows: 25% auto 10% minmax(5%, 7%);
         grid-template-columns: auto auto auto auto;
         grid-template-areas: "header header header header""main main main main""sidebar sidebar sidebar sidebar""footer footer footer footer";
     }
 }