 /*
Color palette:: 
Red = #CB5E56
Brown = #C6A85F
Blue = #687DA2
Light = #E2E299
Greyish = #999B9D
*/

 /*
Fonts::
Asap = for BIG BIG text
Ubuntu = for BIG text
Palanquin = for text
*/

 @font-face {
     font-family: Asap;
     src: url('../fonts/Asap-Regular.ttf')
 }

 @font-face {
     font-family: Palanquin;
     src: url('../fonts/Palanquin-Regular.ttf')
 }

 @font-face {
     font-family: Ubuntu;
     src: url('../fonts/Ubuntu-Regular.ttf')
 }

 *::-webkit-scrollbar {
     width: 12px;
 }

 *::-webkit-scrollbar-track {
     background: #C6A85F;
 }

 *::-webkit-scrollbar-thumb {
     background-color: #C6A85F;
     border-radius: 1px;
     border: 2px solid #181A1B;
 }

 html {
     height: 100%;
     background-color: #E2E299;
 }

 img {
     object-fit: none;
     width: 100%;
     max-height: 100%;
 }

 header {
     grid-area: header;
     display: grid;
     grid-template-rows: 70% auto;
     grid-template-columns: auto auto auto 15%;
 }

 header>div#logo {
     background-color: #181A1B;
     grid-column: 1 / 5;
 }

 header>nav {
     grid-row: 2;
     grid-column-start: 1;
     grid-column-end: 4;
     background-color: #C6A85F;
     list-style: none;
     display: grid;
     grid-template-columns: auto auto auto auto auto;
     grid-template-rows: auto;
     justify-items: center;
     align-items: center;
     padding: 0;
     margin: auto;
     height: 100%;
     width: 100%;
 }

 .navitem {
     background-color: black;
     margin-right: 30px;
     width: 150px;
     line-height: 60px;
     text-align: center;
 }

 .navitem>a {
     text-decoration: none;
     color: white;
     display: block;
     font-family: Asap;
     font-weight: bolder;
     transition: 0.2s;
 }

 header>nav>li>a:hover {
     text-decoration: none;
     color: white;
     display: block;
     background-color: #CB5E56;
 }

 header>nav>li#signin {
     grid-column: 5;
 }

 header>nav>h1 {
     grid-column: 3;
     margin: auto;
     font-family: Palanquin;
 }

 main {
     grid-area: main;
     background-color: #E2E299;
     display: grid;
     /* justify-items: center;
     align-items: center; */
     grid-template-rows: auto min-content;
     animation: fadein 0.5s;
     overflow: auto;
 }

 @keyframes fadein {
     from {
         opacity: 0;
     }
     to {
         opacity: 1;
     }
 }

 button#menu {
     width: 50%;
     height: 25%;
     border: 1px solid #C6A85F;
     background-color: black;
     color: white;
     font-family: Ubuntu;
     font-size: 4em;
     /* display: grid; */
     padding: 0;
     margin: 0;
     transition: 0.5s;
     display: none
 }

 button#menu:hover {
     width: 55%;
     height: 30%;
     background-color: #CB5E56;
 }

 button#menu h2 {
     margin: auto;
 }

 aside {
     grid-area: sidebar;
     background-color: #687DA2;
     display: grid;
     grid-template-rows: auto 5%;
     box-shadow: inset 3px 0 15px 0px rgb(0 0 0 / 60%);
 }

 aside button {
     grid-row: 2;
 }

 footer {
     grid-area: footer;
     background-color: #caab60;
     text-align: center;
     text-decoration: none;
     display: grid;
 }

 footer a {
     text-decoration: none;
     font-family: Palanquin;
     font-size: small;
     color: black;
 }

 p {
     font-family: Palanquin;
     margin: 0;
 }

 body {
     display: grid;
     margin: 0;
     width: 100%;
     height: 100%;
     grid-template-rows: 25% minmax(75%, auto) min-content;
     grid-template-columns: auto auto auto 15%;
     grid-template-areas: "header header header header" "main main main sidebar" "footer footer footer footer";
 }

 div#submit>input {
     background-color: black;
     color: white;
     border: none;
     font-family: Asap;
     font-weight: bolder;
     transition: 0.2s;
     height: 100%;
 }

 div#submit>input:hover {
     background-color: #CB5E56;
 }

 div#submit>input:focus {
     outline: none;
 }

 .show-beverages {
     display: flex !important;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
 }

 .beverage-container {
     display: flex;
     justify-content: center;
     margin: 20px;
     width: 200px;
     height: 100px;
     box-shadow: 0px 3px 5px #d6d0d0;
 }

 .beverage-name {
     margin: auto;
     width: 25%;
     height: 50%;
     position: center;
     text-align: center;
     font-size: 100%;
     font-style: italic;
     margin-right: 10%;
 }

 .beverage-type {
     margin: auto;
     width: 25%;
     height: 50%;
     text-align: center;
     font-style: italic;
     font-size: 100%;
 }

 .beverage-buy-button {
     margin: 12;
     width: 10%;
     text-align: italic;
 }

 #all-beverages {
     display: none;
     grid-auto-rows: 200px;
     grid-template-columns: 1fr 1fr 1fr;
     margin: 1%;
     gap: 10px;
 }

 .beverage {
     height: 100%;
     display: flex;
     outline: 1px solid black;
     transition: all 0.3s ease-in-out;
 }

 .beverage:hover {
     box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.4);
 }

 .beverage-image-wrapper {
     display: flex;
 }

 .beverage-image {
     object-fit: none;
 }

 .beverage-info {
     flex: 1 1 80%;
     margin: 0.5%;
     display: grid;
     grid-template-rows: 40% auto 10%;
 }

 .beverage-header {
     display: flex;
     flex-direction: column;
 }

 .beverage-header h2 {
     font-family: Ubuntu;
     flex-grow: 1;
     margin: 0;
 }

 .beverage-header h4 {
     font-family: Palanquin;
     flex-grow: 1;
     margin: 0;
 }

 .beverage-header hr {
     width: 80%;
     margin-left: 0;
     border: 0;
     border-bottom: 1px dashed #687DA2;
     background: #cb5e56;
 }

 .beverage-main-content {
     font-size: small;
 }

 .beverage-footer {
     display: flex;
 }

 .beverage-country-icon {
     flex: 1 1 10%;
     display: flex;
     justify-content: center;
 }

 .beverage-country-icon img {
     object-fit: cover;
 }

 .beverage-country-name {
     font-family: Asap;
     flex: 1 1 90%;
     margin-left: 1%;
 }

 .beverage-to-list {
     display: flex;
     height: 100%;
     flex: 1 1 6%;
     justify-content: center;
     align-items: center;
     background: transparent;
     cursor: pointer;
 }

 .beverage-to-list:hover {
     height: unset;
     background-color: #bda15b
 }

 .beverage-to-list:focus {
     outline: none;
 }

 .beverage-to-list img {
     object-fit: cover;
 }

 .beverage-price {
     margin-right: 3%;
 }

 .buy-text {
     font-style: italic;
     text-align: left;
     margin: auto;
 }

 .dropdown {
     grid-row: 2;
     grid-column: 4;
     display: flex;
     background-color: #687DA2;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     flex-direction: column;
     outline: solid 1px #E2E299;
 }

 .dropdown>button {
     height: 100%;
 }

 .dropbtn {
     flex: 1 0 auto;
     height: 100%;
     z-index: 2;
 }

 .dropdown-content {
     background-color: #f9f9f9;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
     width: 100%;
     flex: 1 0 auto;
     flex-direction: column;
     z-index: 1;
     min-height: 0%;
     opacity: 0;
     visibility: hidden;
     display: flex;
     transition: all 0.2s;
 }

 .dropdown:hover .dropdown-content {
     visibility: visible;
     opacity: 1;
     min-height: 100%;
     display: flex;
 }

 .menu-button-wrapper {
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
 }

 .btn {
     background-color: black;
     color: white;
     border: none;
     font-family: Asap;
     font-weight: bolder;
     transition: 0.2s;
 }

 .btn:hover {
     background-color: #CB5E56;
 }

 .btn:focus {
     outline: none;
 }

 .btn-nav {
     width: 100%;
     margin: 5px;
 }

 div#login-window {
     position: fixed;
     z-index: 5;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     display: none;
     justify-content: center;
 }

 div#login-window form {
     margin: auto;
     display: flex;
     flex-direction: column;
     height: 35%;
     width: 25%;
     justify-content: center;
     gap: 5px;
     font-family: Palanquin;
     border: 3px solid black;
     padding: 10px;
     background: #E2E299;
     z-index: 10;
 }

 div#login-window form>* {
     display: flex;
     flex-direction: column;
 }

 div#login-window form input[type=text], input[type=password] {
     padding: 12px 20px;
     border: 1px solid #ccc;
     box-sizing: border-box;
 }

 div#login-window form>div#submit {
     width: 100%;
     margin-top: auto;
     height: 20%
 }

 div#tint {
     opacity: 0;
     width: 100%;
     height: 100%;
     position: fixed;
     background: black;
 }

 div#table-window {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr;
     align-items: center;
     justify-items: center;

     background-image: url("../images/topography.svg")
 }

 .table {
     border: 1px solid black;
     padding: 1%;
     box-shadow: inset 0 0 20px 7px rgb(0 0 0 / 60%);
     border-radius: 5px;
     transition: padding 0.2s;
     background: #C6A85F;
 }

 .table img {
     object-fit: contain;
     width: fit-content;
 }

 .table-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    background: transparent;
    border-radius: 50%;
    font-family: Ubuntu;
    font-weight: bold;
    transition: border-radius 0.2s;
 }

 .table-available:hover .table-button {
     border-radius: 0;
 }

 .table:hover {
     padding: 2%;
 }

 @media screen and (max-width: 768px) {
     body {
         grid-template-rows: 25% auto 10% minmax(5%, 7%);
         grid-template-columns: auto auto auto auto;
         grid-template-areas: "header header header header" "main main main main" "sidebar sidebar sidebar sidebar" "footer footer footer footer";
     }
 }